.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.wrapper {
  width: 40%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  padding: 30px 50px;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: var(--softBg);
  border-radius: 10px;
  gap: 25px;
}

@media (max-width: 1024px) {
  .wrapper {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .wrapper {
    width: 60%;
  }
}
@media (max-width: 640px) {
  .wrapper {
    width: 100%;
    font-size: 12px;
  }
}
.googleLogin {
  background-color: #ff5555;
}
.githubLogin {
  background-color: #111;
}
.facebookLogin {
  background-color: #087bea;
}

.btn {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border-radius: 10px;
  /* text-align: center; */
  cursor: pointer;
}
